:root {
  --brick-dark: #793e37;
  --brick-mid: #974e44;
  --brick-light: #b55d51;
  --pinkish: #fff0ffed;
  --grey-dark: #4c4c4c;
  --grey-mid: #878787;
  --grey-light: #a5a5a5;
  --greyish: #ebebeb;
  --white: #ffffff;
  --black: #0d0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  color: var(--brick-light);
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: var(--brick-light);
}

h3 {
  font-size: 1.2rem;
  color: var(--grey-dark);
  margin-top: 20px;
}

.back-btn {
  padding: 10px 20px;
  background-color: var(--brick-light);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.back-btn:hover {
  background-color: var(--pinkish);
  color: var(--black);
}

.entry-btn,
.search-btn {
  width: 70%;
  padding: 8px 10px;
  margin-top: 10PX;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--grey-light);
  color: var(--white);
  font-weight: 700;
  border: 1px solid var(--grey-light);
}

.entry-btn:hover {
  transition: background-color 0.3s ease;
  background-color: var(--brick-light);
  border: 1px solid var(--brick-light);
}

.search-btn:hover {
  transition: background-color 0.3s ease;
  background-color: var(--brick-light);
  border: 1px solid var(--brick-light);
}

input {
  width: 70%;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 150px auto;
  padding: 40px;
  background-color: var(--greyish);
  border-radius: 5px;
  width: 90%;
  max-width: 1200px;
}

@media (max-width: 768px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .back-btn {
    font-size: 0.9rem;
    padding: 10px 20px;
    background-color: var(--brick-light);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .entry-btn,
  .search-btn {
    width: 80%;
    font-size: 0.9rem;
    padding: 8px;
  }

  input {
    width: 80%;
    font-size: 14px;
  }

  .container {
    margin: 20px auto;
    padding: 30px;
  }
}