:root {
    --brick-dark: #793E37;
    --brick-mid: #974E44;
    --brick-light: #B55D51;
    --pinkish: #fff0ffED;
    --grey-dark: #4C4C4C;
    --grey-mid: #878787;
    --grey-light: #A5A5A5;
    --greyish: #EBEBEB;
    --white: #FFFFFF;
    --Black: #0D0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    background-color: var(--red);
    max-width: 80%;
    max-height: max-content;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    ;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: var(--greyish);
    box-shadow: 15px 15px 0 15px var(--pinkish), 5px 5px 0 15px var(--brick-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.recipe-detail.full-page {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--greyish);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}

.back-button {
    background-color: var(--brick-light);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.back-button:hover {
    background-color: var(--pinkish);
    color: var(--brick-dark);
}

.selected-recipe {
    font-size: 3rem;
    margin: 30px 0;
    letter-spacing: 0.1rem;
    color: var(--brick-dark);
}

.selected-recipe-index {
    width: 100%;
    max-width: 700px;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: var(--brick-dark);
}

.selected-img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 15px 15px 0 15px var(--pinkish), 5px 5px 0 15px var(--brick-light);
}